.podcast-grid{ 
 display:grid;
 gap: 2rem;
 grid-auto-rows:22rem;
 grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
 margin:3%;
}
.search-bar-container{
    width: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap:1em;
}

.counter-badge{
    background-color: var(--accent-color);
    color: white;
    border-radius: 7px;
    padding:0px 4px;
    font-size: 1.2em;
    font-weight: bold;
    min-width: 40px;
    text-align: center;
}

.search-bar{
    border: 1px solid #ccc;
    height: 2em;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 1.1em;
    padding: 0px 10px;
}